body {
    background-color: darkslategray;
    width: 100vw;
    align-content: center;
    display: flex;
    margin: 0;
}

#center {
    margin: auto;
    margin-top: 20px;
    height: 400px;
    width: 60%;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

#view-scores-link {
    position: relative;
    left: -30%;
    top: auto;
    text-align: left;
    margin: 5px;
    color: darkslateblue;
    cursor: pointer;
}

a {
    cursor: pointer;
}

#filling {
    height: 80%;
    width: 80%;
    /* border-style: solid; */
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#start {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


#question {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

button {
    background-color: darkslateblue;
    color: antiquewhite;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

#highscore-btns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#timer {
    width: fit-content;
    align-self: flex-end;
}

.option-button {
    align-self: flex-start;
}

hr {
    border: 1px solid grey;
    width: 100%;
}

#previous-answer {
    color: grey;
}